@media (max-width: 768px) {
      .form-wrapper {
        padding-right: 0;
        margin-bottom: 2rem;
      }
    }

    
@media (width < 992px){
    .section-heading::after, .section-heading::before{
            display: none;
    }
}
